.header-bar{
    display: inherit;
    padding-left: 5em;
  }
  
  .nav-item{
    padding-right: 5em! important;
  }

  .text-center {
  
    padding-top: 1.5cm;
    align-items: center;
  }

  .navbar {
    background-color: #e3f2fd! important;

  }
